<div class="container">
  <div class="row">
      <div class="caja semaforo">
          <ul class="semaforo-vehiculos">
              <li class="rojo" [class.on]="getSemaforoVehiculos('rojo')"></li>
              <li class="amarillo" [class.on]="getSemaforoVehiculos('amarillo')"></li>
              <li class="verde" [class.on]="getSemaforoVehiculos('verde')"></li>
          </ul>
      </div>
      <div class="caja">
          <h2>Vehículos:</h2>
          <p *ngIf="getSemaforoVehiculos('rojo')">Deben detenerse</p>
          <p *ngIf="getSemaforoVehiculos('amarillo')">Precaución</p>
          <p *ngIf="getSemaforoVehiculos('verde')">Pueden circular</p>
      </div>
  </div>
  <div class="row">
      <button (click)="toggleSemaforos()">{{textoBoton}}</button>
  </div>
  <div class="row">
      <div class="caja semaforo">
          <ul class="semaforo-peatones">
              <li class="rojo" [class.on]="getSemaforoPeatones('rojo')">
                  <img src="assets/img/stop.svg">
              </li>
              <li class="verde" [class.on]="getSemaforoPeatones('verde')">
                  <img src="assets/img/walk.png">
              </li>
          </ul>
      </div>
      <div class="caja">
          <h2>Peatones:</h2>
          <p *ngIf="getSemaforoPeatones('rojo')">Deben detenerse</p>
          <p *ngIf="getSemaforoPeatones('verde')">Pueden pasar</p>
      </div>
  </div>
</div>
